@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

a {
  text-decoration:none
}

.container {
  margin: auto;
  position: relative;
}

header {
  margin-left: 2px;
  z-index: 1;
  top: 0; left: -100px; right: -100px;
  padding: 50px;
}

header nav {
  position: absolute;
  z-index: 2;
  top: 0; right: 0;
  margin-top: -25px;
  margin-right: -40px;
}

header nav a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px; color: black;
  display: inline-block; vertical-align: middle;
  padding: 5px;
  margin: 0 10px;
}

.gnb-memu {
  font-family: 'Noto Sans KR', sans-serif;
  margin-top: 268px;
  position: relative;
  left: 10.3%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 10;
}

.gnb-memu a {
  display: flex;
  width: 100%;
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 27px;
  position: relative;
  transition: all .7s ease-out;
  box-sizing: border-box;
  z-index: 10;
}

.gnb-memu a strong {position: relative; z-index: 2;}
.gnb-memu a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 80px;
  height: 80%;
  transition: all .7s ease;
}

.gnb-memu a:nth-child(1)::before {background: blue; opacity: 40%; background:linear-gradient(-70deg, transparent 80px, blue 0);}
.gnb-memu a:nth-child(2)::before {background: blue; opacity: 40%; background:linear-gradient(-70deg, transparent 80px, blue 0);}
.gnb-memu a:nth-child(3)::before {background: blue; opacity: 40%; background:linear-gradient(-70deg, transparent 80px, blue 0);}
.gnb-memu a:nth-child(4)::before {background: blue; opacity: 40%; background:linear-gradient(-70deg, transparent 80px, blue 0);}
.gnb-memu a:nth-child(5)::before {background: blue; opacity: 40%; background:linear-gradient(-70deg, transparent 80px, blue 0);}
.gnb-memu a:hover {font-style: italic; color: #fff;}
.gnb-memu a:hover::before {width: 70%; opacity: 100%;}

.memu1_bar {
  height: 2px;
  width: 1380px;
  background-color: #2222;
  position: relative;
  z-index: 1;
  float: left;
  margin-left: 520px;
  margin-top: -736px;
}

.gnb-memu1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: -800px;
  margin-left: 450px;
}

.gnb-memu1 img {
  opacity: 35%;
  transition: all .3s ease-in-out;
}

.gnb-memu1 img:hover {
  opacity: 100%
}

.gnb-memu1 a {
  position: relative;
  padding: 6px 12px;
}

.gnb-memu1 a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 5px;
  background: #222;
  transition: all .3s ease-out;
}

.gnb-memu1 a:nth-child(5):after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 5px;
  background: #222;
  transition: all .3s ease-out;
}

.gnb-memu1 a:hover::after {
  width: 100%;
}

#tvn {
  opacity: 100%;
}

/*메인 배경*/
.background_body1 {
  width: 1502px;
  height: 2800px;
  margin-top: 100px;
  margin-left: 400px;
  background: #0;
}

.background_body2 {
  width: 1200px;
  height: 2800px;
  margin-top: -2800px;
  margin-left: 570px;
  background: #ffff; efefef
  float: left;
}

/*제목*/
.main_title {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  color: #181818;
  float: left;
  margin-top: -2750px;
  margin-left: 800px;
}

.main_title1 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
  color: #052ae2;
  float: left;
  margin-top: -2680px;
  margin-left: 800px;
}

.main_title2 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14px;
  color: #adadad;
  float: left;
  margin-top: -2530px;
  margin-left: 800px;
}

.main_title3 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14px;
  color: #adadad;
  float: left;
  margin-top: -1035px;
  margin-left: 1020px;
}

/*밑줄*/
.main_bar1 {
  width: 1200px;
  height: 320px;
  background-color: #1111;
  float: left;
  margin-top: -2800px;
  margin-left: 580px;
}

.main_bar2 {
  width: 970px;
  height: 1.3px;
  background-color: #2222;
  float: left;
  margin-top: -660px;
  margin-left: 700px;
}

/*슬의 사진*/
.main_picture1 img {
  float: left;
  z-index: 100;
  margin-top: -2400px;
  margin-left: 820px;
}

/*슬의 리뷰*/
.main_text1 {
  width: 700px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 17px;
  line-height: 30px;
  color: #343434;
  float: left;
  margin-top: -1940px;
  margin-left: 820px;
}

.main_text2 {
  width: 700px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 17px;
  line-height: 30px;
  color: #343434;
  float: left;
  margin-top: -940px;
  margin-left: 820px;
}

.main_text3 {
  width: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  line-height: 30px;
  border-radius: 20px;
  border:1px solid #8888;
  color: #8888;
  text-align: center;
  float: left;
  margin-top: -620px;
  margin-left: 730px;
}

.main_text4 {
  width: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 30px;
  border-radius: 20px;
  border:1px solid #8888;
  color: #8888;
  text-align: center;
  float: left;
  margin-top: -620px;
  margin-left: 1430px;
}

.main_text5 {
  width: 100px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 30px;
  border-radius: 20px;
  border:1px solid #052ae2;
  color: #052ae2;
  text-align: center;
  float: left;
  margin-top: -620px;
  margin-left: 1540px;
}

.main_text6 input {
    width: 830px;
    height: 50px;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: 1px solid #8888;
    font-size: 16px; color: #343434;

    outline: none;
    float: left;
    margin-top: -500px;
    margin-left: 770px;
}

.main_text7 {
  width: 830px;
  background-color: #f7f7f7;
  border-top: 1px solid #8888;
  border-bottom: 1px solid #8888;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #343434;
  padding: 20px;
  float: left;
  margin-top: -400px;
  margin-left: 770px;
}

.main_text8 {
  width: 830px;
  background-color: #f7f7f7;
  border-top: 1px solid #8888;
  border-bottom: 1px solid #8888;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #343434;
  padding: 20px;
  float: left;
  margin-top: -210px;
  margin-left: 770px;
}

/*슬의 움짤*/
.main_picture2 img {
  float: left;
  z-index: 100;
  margin-top: -1450px;
  margin-left: 820px;
}

/*푸터*/
.footer1 {
  z-index: 1;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #181818;
  background-color: #eaeaea;
  margin-top: 50px;
  padding-top: 90px;
  padding-left: 70px;
  padding-bottom: 70px;
}

.footer2 {
  float: left;
  color: #8888;
  font-size: 20px;
  font-family: 'Noto Sans KR', sans-serif;
  margin-left: 1250px;
  margin-top: -140px;
}
